.resume {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  justify-content: center;
  h1 {
    border: 2px solid $black;
    margin: 0;
    padding: 20px;
    color: $blue;
  }
  .resume-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .resume-col {
      display:flex;
      flex-direction: column;
      width:25%;
      // padding: 3%;
      text-align: right;
      .resume-title {
        font-weight: bold;
        color: #098B8C;
      }
      .exp {
        // min-height: 200px;
        // width: 400px;
        position: relative;
        // width: 70%;
        // border: 3px solid $blue;
        // border-radius: 2px;
        margin: 10%;
        padding: 5%;
        // background-color: $blue;
        color: $black;
        .arrow-right {
          &::before {
            content: ' ';
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 27px;
            right: -31px;
            border-radius: 10px;
            z-index: 2;
            background-color: #098B8C;
            }
        }
        .arrow-left {
          &::before {
             content: ' ';
             display: block;
             width: 10px;
             height: 10px;
             position: absolute;
             top: 27px;
             left: -31px;
             border-radius: 10px;
             z-index: 2;
             background-color: #098B8C;
           }
        }
        h5 {
          font-size: 16px;
        }
      }
    }


    .right-col {
      margin-top: 61px;
      padding-top: 14px;
      border-left: 2px solid #131B23;
      text-align: left;
    }
  }
}
